<<<<<<< HEAD
@media screen and (min-width: 1200px) {

    
    button#menu {
        display: none;
    }   

        .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        text-align: center;
        padding: .75rem;
    }
    
  
    .navigation a {
        display: flex;
        font-size: 1rem;
    }
=======
@media screen and (min-width: 1200px) {

    
    button#menu {
        display: none;
    }   

        .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        text-align: center;
        padding: .75rem;
    }
    
  
    .navigation a {
        display: flex;
        font-size: 1rem;
    }
>>>>>>> 6e9f2d49b3dafeda5b1389aab6b16ee1687de305
}