/*************mobile*************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #501f61;
    --primary-accent: #1D1735;
    --text-color: #000;
}

html {
    scroll-behavior: smooth;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
 }


/******************NAVIGATION******************/
/* small view navigation */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--dark-color-blue);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


